
  <div class="counts">
    <div class="container-fluid">
    <owl-carousel-o [options]="customOptions">

      <ng-template carouselSlide>
        <div class="count-box">
          <i class="fas fa-dollar-sign"></i>
          <span>قیمت مناسب</span>
          <p>تضمین قیمت </p>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="count-box">
          <i class="fa fa-headset"></i>
          <span>پشتیبانی</span>
          <p>پشتیبانی 24 ساعته</p>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="count-box">
          <i class="fas fa-shipping-fast"></i>
          <span>تحویل سریع</span>
          <p>تحویل 24 ساعته</p>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="count-box">
          <i class="fas fa-shield-alt"></i>
          <span>امنیت پرداخت</span>
          <p>پرداخت کاملا امن</p>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="count-box">
          <i class="fa fa-check"></i>
          <span>کیفیت</span>
          <p>محصول با کیفیت</p>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="count-box">
          <i class="fa fa-percent"></i>
          <span>تخفیف ویژه</span>
          <p>تخفیف ویژه فصلی</p>
        </div>
      </ng-template>
      
    </owl-carousel-o>
  </div>
</div>