<app-header dir="rtl"></app-header>
<section id="about" class="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <h3>فروشگاه اینترنتی کالا27 </h3>
        <p>
          فروشگاه اینترنتی کالا27 فعالیت خود را از سال 1400 در حوزه فروش آنلاین انواع گوشی موبایل، لوازم جانبی گوشی و
          تبلت و... آغاز نموده است. کالا27 فعال در حوزه بازاریابی و فروش انواع گوشی موبایل می باشد. ارسال رایگان در شهر
          خرم آباد و ارسال سریع و آسان به تمام نقاط ایران، تامین کالاهای با کیفیت از برند های معتبر اپل، نوکیا، شیائومی،
          سامسونگ و.. می باشد. کالا27 فروش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر تمامی نیازهای مشتریان
          را فراهم نماید. کالا27 بعنوان یک فروشگاه اینترنتی رعایت جانب انصاف و صداقت بعنوان اصلی ترین پایه این اعتماد را
          سرلوحه کار خود می داند 
        </p>
        <div class="icon-box">
          <div class="icon"><i class="fa fa-history"></i></div>
          <h4 class="title"><a href="">سابقه ما</a></h4>
          <p class="description">بیش از 10 سال سابقه فروش تلفن همراه</p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="fa fa-headset"></i></div>
          <h4 class="title"><a href="">پشتیبانی ما</a></h4>
          <p class="description">فروشگاه کالا 27 هر روز 24 ساعته در خدمت شماست</p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="fas fa-check"></i></div>
          <!-- <div class="icon"><i class="fas fa-award"></i></div> -->
          <h4 class="title"><a href="">کیفیت ما</a></h4>
          <p class="description">کلیه محصولات از برندهای معتبر می باشد</p>
        </div>
      </div>

      <div class="col-sm-12 col-lg-6 d-block m-auto">
        <img class="img-fluid" src="../../../assets/images/kart.jpg"/>
      </div>
    </div>
  </div>
</section>
<app-footer dir="rtl"></app-footer>