<app-header dir="rtl"></app-header>
<section id="about" class="about">
  <div class="container-fluid">

    <div class="row">
      <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch">
      </div>

      <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
        <h3>فروشگاه اینترنتی کالا27 </h3>
        <p>
          فروشگاه اینترنتی کالا27 فعالیت خود را از سال 1400 در حوزه فروش آنلاین انواع گوشی موبایل، لوازم جانبی گوشی و تبلت و... آغاز نموده است. کالا27 فعال در حوزه بازاریابی و فروش انواع گوشی موبایل می باشد. ارسال رایگان در شهر خرم آباد و ارسال سریع و آسان به تمام نقاط ایران، تامین کالاهای با کیفیت از برند های معتبر  اپل، نوکیا، شیائومی، سامسونگ و.. می باشد. کالا27 فروش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر تمامی نیازهای مشتریان  را فراهم نماید. کالا27 بعنوان یک فروشگاه اینترنتی رعایت جانب انصاف و صداقت بعنوان اصلی ترین پایه این اعتماد را سرلوحه کار خود می داند      </p>

        <div class="icon-box">
          <div class="icon"><i class="fa fa-history"></i></div>
          <h4 class="title"><a href="">سابقه ما</a></h4>
          <p class="description">کلیه محصولات از برندهای معتبر می باشد</p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="fa fa-headset"></i></div>
          <h4 class="title"><a href="">کیفیت ما</a></h4>
          <p class="description">کلیه محصولات از برندهای معتبر می باشد</p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="fas fa-award"></i></div>
          <h4 class="title"><a href="">جوایز ما</a></h4>
          <p class="description">کلیه محصولات از برندهای معتبر می باشد</p>
        </div>

      </div>
    </div>

  </div>
</section>

<app-team></app-team>
<app-department></app-department>
<app-footer dir="rtl"></app-footer>
