th
{
  vertical-align: bottom;
  text-align: center;
}

th span
{
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
  font-family: IRANSans_Bold;
}
span{
  font-family: IRANSansWeb_Bold;
}
//@media print{
//  .doNotPrint{display:none !important;}
//}
//@media print {
//
//*{
//    display: none;
//  }
//  button {
//    display: block;
//  }
//}
